html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
}

button {
    cursor: pointer;
  }

button:disabled {
    cursor: not-allowed;
  }